<div class="main-div">

    <mat-card>
        <mat-card-content>
            <div class="container">
                <h1>Login Here :)</h1>

                <form (ngSubmit)="login()">

                    <mat-form-field appearance="outline">
                        <mat-label>Enter Email</mat-label>
                        <input [(ngModel)]="loginDetails.email" name="email" matInput placeholder="Enter Email">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Enter Password</mat-label>
                        <input [(ngModel)]="loginDetails.password" type="password" name="password" matInput placeholder="Enter Password">
                    </mat-form-field>

                    <div>
                        <button mat-raised-button type="submit" color="primary">Login</button>
                        <button routerLink="/register" type="button" mat-flat-button >New User Click Here</button>
                    </div>

                </form>
            </div>
        </mat-card-content>
    </mat-card>

</div>